[submodule "Community Banners"]
	path = Community Banners
	url = https://github.com/ECHibiki/Community-Banners.git

[submodule " Kissu-Benchmarks"]
	path =  Kissu-Benchmarks
	url = https://gist.github.com/ECHibiki/46c235e91f89b0b6aa34730948c62ba9

[submodule "Kissu-Docs"]
	path = Kissu-Docs
	url = https://github.com/ECHibiki/Kissu-Docs.git

[submodule "Kissu-React"]
	path = Kissu-React
	url = https://github.com/ECHibiki/Kissu-React.git

[submodule "Kissu-Vi"]
	path = Kissu-Vi
	url = https://github.com/ECHibiki/Kissu-Vi.git

[submodule "captchouli"]
	path = captchouli
	url = https://github.com/ECHibiki/captchouli.git
	branch = master
