[submodule "Community Banners"]
	path = Community Banners
	url = https://github.com/ECHibiki/Community-Banners

[submodule " Kissu-Benchmarks"]
	path =  Kissu-Benchmarks
	url = https://gist.github.com/ECHibiki/46c235e91f89b0b6aa34730948c62ba9

[submodule "Kissu-Docs"]
	path = Kissu-Docs
	url = https://github.com/ECHibiki/Kissu-Docs

[submodule "Kissu-React"]
	path = Kissu-React
	url = https://github.com/ECHibiki/Kissu-React

[submodule "Kissu-Vi"]
	path = Kissu-Vi
	url = https://github.com/ECHibiki/Kissu-Vi
